html{
	font-size: 14px;
}
/*清除浮动*/
.clearfix:after{
     content:"";        
     display:block;        
     height:0;        
     clear:both;        
     visibility:hidden;       
}
.layout_flex{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.logo{
	display: flex;
	align-items: center;
}
.logo img{
	width: 48px;
	height: 48px;
}
.logo span{
	font-size: 24px;
	padding-left: 10px;
}

/*登录注册*/
.login{
	float:right !important;
}
.register{
	float:right !important;
}

/*——————container——————*/
.father-container{
    display: flex !important;
    justify-content: center;
}

.container{
	padding-top: 10px;
    display: flex !important;
    justify-content: center;
    width: 1105px !important;
}

.second-container{
    margin-top: 10px;
    width: 1105px !important;
    display: flex !important;
    justify-content: center;
}

.leftContainer{
	float: left;
	margin-right: 10px;
}

/*轮播图*/
.leftContainer{
	width:400px;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 300px;
  line-height: 300px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

.centerContainer{
	
}
.centerContainer-width{
    width: 400px;
}
.newsText .ant-card-body{
	padding-top: 12px;
}

.carousel{
	margin-bottom: 20px;
}

.newsImage{
	width:100%;
	float:left;
}
/*图片*/

.liStyle{
	padding-bottom:2px;
	margin-right:4px;
	margin-bottom:4px;
	float:left;
}
.imageStyle{
	width:112px;
	height:90px;
}
.titleStyle{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	width:112px;
}

/*-----rightContainer-----*/
.rightContainer{
    margin-left: 10px;
}
.rightContainer-width{
     width:285px;
}

.productlinks-item{
    margin-top: 10px;
    line-height: 20px;
    font
}

/*------详情页--------*/
.newsDetails{
	margin-top: 10px;
}
.article {
    text-align: justify
}

.article-content .img .img-wrap,.hot-news img {
    background-repeat: no-repeat;
    background-position: center
}

.hn-title h2,.in-title h2 {
    z-index: 1;
    font-weight: 600
}

#title {
    margin: 16px 16px 0!important;
    border-bottom: 1px solid #e5e5e5
}

.article-title {
    margin-bottom: .2rem
}

#title .title,.article-title .title {
    font-size: 1.8rem;
    line-height: 1.8em
}

.title {
    color: #000
}

.article-src-time {
    font-size: 1rem;
    color: #999;
    padding-bottom: .2rem
}

.article-content .section {
    line-height: 1.6em;
    margin-bottom: .3rem;
    margin-top: 0
}

.article-content .txt {
    font-size: 1.36rem
}

.article-content .img {
    margin-bottom: .3rem
}

.article-content .img .img-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-size: 40%
}

#content {
    margin: .3rem 16px 16px
}

.article-content .img .img-wrap img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 60%
}

.article-content .img .txt-wrap {
    font-size: .36rem;
    line-height: 2em
}

.article-content .app-download {
    position: relative;
    display: block;
    width: 100%;
    height: .8rem;
    text-align: center;
    color: red;
    line-height: .8rem;
    border: 1px solid #e5e5e5;
    border-top: 0 none;
    font-size: .34rem
}

.article-content .app-download img {
    position: absolute;
    width: .42rem;
    height: .42rem;
    margin-right: .15rem;
    top: 50%;
    margin-top: -.21rem;
    left: .66rem
}
/*评论*/
.comments .textarea{
    width: 100%;
    height: 10rem;
}


/*——————footer——————*/
.father-footer{
    text-align: center;
}
.footer{
	margin:50px 0;
}